<!DOCTYPE html>
<html ng-app="myApp">
  <hpacead>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<style type="text/css">

.btn-circle {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  line-height: 2;
  border-radius: 60px;
}
/*a {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
}*/

	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
	<title>fractal/tutor list</title>>
  <body>
  <!-- <div class="container" ng-controller="appCtrl">
 	
 	<table class="table">
 		<thead>
 			<th>Name</th>
 			<th>Email</th>
 			<th>Number</th>
 		</thead>	
 	</table> 	
  <div ng-controller="appCtrl">
  {{ gmes }}
  </div>
  	
  </div> -->

<div class="container-fluid">
  <div class="row">	<!-- <ul> -->
	<div class="col-md-12">
	<menu>
	</menu>
	</div>
  </div>
  <div class="row">
  <div class="col-md-8"><p>fdasfas</p></div>
<div class="col-md-4">
  	<form class="userInfo">
  		Name: <input type="txt" maxlength="30" id="name"><br>
  		Surname: <input type="txt" maxlength="30" id="surname"><br>
  		Phone number: (+371) <input type="txt" maxlength="8" id="phone"><br>
  		Email: <input type="txt" maxlength="30" id="email"><br>
  		password: <input type="txt" maxlength="30" id="pwd"><br>
  		password confirmation: <input type="txt" maxlength="30" id="pwd_conf"><br>
  		<input type="submit" value="Submit">
  	</form>
 </div>
 </div>
<div>
  		<button  type="button" id="register">register</button>
</div>
		});
<div><a href="#" class="btn btn-default btn-circle"><i class="fa fa-user">x</i></a></div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
	<!-- // <script type="text/javascript" src="./public/outputcatagories.js"></script> -->
	<script type="text/javascript">   
	var myApp = angular.module('myApp', []);
	// var fs = require('fs');
	// fs.open('./public/files/catagories.json',function);

	$('.userInfo').hide();
	$('#register').click(function(){
	$('.userInfo').show();
	

	$('.userInfo').submit(function(){
		var name = $('#name').val(),
			surname = $('#surname').val(),
			phoneNumber = $('#phone').val(),
			email = $('#email').val(),
			pwd = $('#pwd').val(),
			pwd_conf = $('#pwd_conf').val();
		alert([name, surname, phoneNumber, email, pwd, pwd_conf]);			
	});

});

	// myApp.controller('userInfo', ['$scope',function($scope){
	// 	console.log($scope.name);
	// 	console.log($scope.surname);
	// 	console.log($scope.phone);
	// 	console.log($scope.email);
	// }]);

	// $('.check').on('load', function($this){
	// $this='random text hahahaha';
	// console.log($this);		
	// });

	// myApp.controller('appCtrl', ['$scope', function($scope) {
 // 	console.log("Hello World from controller");
 // 	$scope.gmes = 'heyheyhey';
 // 	$scope.bmes ='nonono';
 // }]); 

</script>
	<!-- // <script type="text/javascript" src="controllers/controller.js"></script> -->
  </body>
</html>
